<!DOCTYPE html>
<html lang="cs">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" n:href="webdata/styles.css" type="text/css">

	<title>{block title|striptags|strip|trim}{/block} | LeanMapper Docs - neoficiální dokumentace</title>
</head>
<body>
	<div id="wrapper" class="row">
		<div id="content" class="column">
			{include #content}

			<div class="wiki-box">
				{var $githubRepoUrl = 'https://github.com/janpecha/leanmapper-docs'}
				{var $githubBranch = 'master'}
				{var $githubDirectory = basename($webgen->sourceDirectory)}
				{var $githubFileUrl = "$githubBranch/$githubDirectory/{$webgen->currentFile}"}
				<a href="{$githubRepoUrl}/edit/{$githubFileUrl}">Editovat</a>
				<a href="{$githubRepoUrl}/blob/{$githubFileUrl}">Zdroj</a>
				<a href="{$githubRepoUrl}/commits/{$githubFileUrl}">Historie úprav</a>
			</div>
		</div>

		<div id="menu" class="column">
			<a n:href="/" class="home" rel="home">
				<span>Lean</span>Mapper
				<small>neoficiální dokumentace</small>
			</a>
			<a n:href="/" n:class="$webgen->isFileCurrent('index.texy') ? tuto">Homepage</a>
			<a n:href="2.1/entity/" n:class="$webgen->isFileCurrent('2.1/entity/**') ? tuto">Entity</a>
			<a n:href="2.1/repository/" n:class="$webgen->isFileCurrent('2.1/repository/**') ? tuto">Repozitáře</a>
			<a n:href="2.1/filters/" n:class="$webgen->isFileCurrent('2.1/filters/**') ? tuto">Filtry</a>
			<a n:href="postupy-reseni/" n:class="$webgen->isFileCurrent('postupy-reseni/**') ? tuto">Postupy a řešení</a>
			<a n:href="rozsireni/" n:class="$webgen->isFileCurrent('rozsireni/**') ? tuto">Rozšíření</a>
			<a n:href="download.html" n:class="$webgen->isFileCurrent('download.texy') ? tuto">Download</a>
		</div>
	</div>
<script>
(function(i,s,o,g,r,a,m){ i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-40868013-4', 'iunas.cz');
ga('send', 'pageview');
</script>
</body>
</html>
